body{
    margin: 0;
    padding: 0;
}

section{
    position: relative;
    margin: 0;
    padding: 0;
    background: #ffcf31;
    height: 100vh;
}

#divider{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* transform: rotate(180deg) */
}

#divider path, 
polygon{
    fill: white;
}

.img{
    position: absolute;
    z-index: 999;
    top:15%;
    left: 10%;
}
img{
    width:100%;
}
.content{
    position: absolute;
    z-index: 999;
    right: 15%;
    top:30%;
}
p{
    font-size: 5rem;
    font-family: arial;
    text-transform: uppercase;
}
button{
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}
button:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.11), 0 3px 6px rgba(0,0,0,0.28);

}


@media only screen and (max-width:600px){
    section{
        background: lightblue;
    }
}